<ng-container *ngIf="quote$ | async as quote">
  <ng-container *ngIf="state$ | async as state">
    <!-- Description -->
    <!-- Quote Header ( shown once if quote request submitted ) -->
    <ng-container *ngIf="state === 'Submitted'; else quotePending">
      <ng-container *ngIf="justSubmitted$ | async; else previouslySubmitted">
        <p>
          {{ 'quote.edit.submitted.your_quote_number.text' | translate }}
          <a [routerLink]="['/account/quotes', quote.id]">{{ quote.number }}</a>
        </p>
        <p
          [ishServerHtml]="
            'quote.edit.submitted.your_quote_request.text'
              | translate : { '0': 'route://account/quotes', '1': 'route://account' }
          "
        ></p>
        <p>{{ 'quote.edit.submitted.we_will_email.text' | translate : { '0': userEmail$ | async } }}</p>
      </ng-container>
      <ng-template #previouslySubmitted>
        <ish-info-message
          message="{{
            'quote.edit.submitted.your_quote_request_has_been_submitted.text'
              | translate : { '0': asQuoteRequest(quote).submittedDate || quote.creationDate | ishDate : 'shortDate' }
          }}"
          [toast]="false"
        >
        </ish-info-message>
      </ng-template>
    </ng-container>

    <ng-template #quotePending>
      <ish-info-message
        *ngIf="state === 'Responded' && (isQuoteStarted$ | async) === false"
        message="quote.error.not_started"
        [toast]="false"
      ></ish-info-message>
    </ng-template>

    <div class="section">
      <dl class="row dl-horizontal dl-separator">
        <!-- Quote No. -->
        <dt class="col-6 col-sm-4 col-md-2">{{ 'quote.edit.unsubmitted.quote_no.label' | translate }}</dt>
        <dd class="col-6 col-sm-8 col-md-10" data-testing-id="quoteId" [attr.data-quote-id]="quote.id">
          {{ quote.number }}
        </dd>

        <!-- Status -->
        <dt class="col-6 col-sm-4 col-md-2">{{ 'quote.edit.unsubmitted.status.label' | translate }}</dt>
        <dd class="col-6 col-sm-8 col-md-10">
          <ish-quote-state [quoteId]="quote.id"></ish-quote-state>
        </dd>

        <!-- Shows the valid from/to date  -->
        <ng-container *ngIf="state === 'Responded'">
          <dt class="col-6 col-sm-4 col-md-2">{{ 'quote.edit.unsubmitted.valid.label' | translate }}</dt>
          <dd class="col-6 col-sm-8 col-md-10">
            {{ asQuote(quote).validFromDate | ishDate : 'shortDate' }} -
            {{ asQuote(quote).validToDate | ishDate : 'shortDate' }}
          </dd>
        </ng-container>

        <!-- displayName -->
        <dt class="col-6 col-sm-4 col-md-2 has-feedback">{{ 'quote.edit.unsubmitted.name.label' | translate }}</dt>
        <dd class="col-6 col-sm-8 col-md-10">
          {{ quote.displayName }}
        </dd>

        <ng-container *ngIf="quote.description">
          <dt class="col-6 col-sm-4 col-md-2">{{ 'quote.edit.unsubmitted.comment.label' | translate }}</dt>
          <dd class="col-6 col-sm-8 col-md-10">
            {{ quote.description }}
          </dd>
        </ng-container>

        <ng-container *ngIf="asQuote(quote).sellerComment">
          <dt class="col-6 col-sm-4 col-md-2">{{ 'quote.edit.unsubmitted.seller_comment.label' | translate }}</dt>
          <dd class="col-6 col-sm-8 col-md-10">
            {{ asQuote(quote).sellerComment }}
          </dd>
        </ng-container>
      </dl>
    </div>

    <div class="section">
      <h3>{{ 'quote.items.table.heading' | translate }}</h3>
      <ish-quote-line-item-list *ngIf="quote.items"></ish-quote-line-item-list>
    </div>
  </ng-container>
</ng-container>
